nav {
    font-size: 30px;
    justify-content: space-evenly;
}

#navName{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#navName:hover{
    cursor: default;
}

a:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
}

/* SECTIONS */
section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0vh 10rem;
    box-sizing: border-box;
    min-height: fit-content;

}

/* PROFILE SECTION */

#profile{
    display: flex;
    justify-content: center;
    height: 80vh;
    gap: 5rem;
} 

.myName {
    font-size: 4rem;
    text-align:center ;
    justify-content: center;
    gap: 5rem;
} 


.section_pic-container{
    display: flex;
    height: 500px;
    width: 500px;
    margin:auto 0;
}

.section_text {
    align-self: center;
    text-align: center;

}

.section_text p {
    font-weight: 400;
}

.section_text1{
    text-align: center;
}

.section_text2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

#social-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon{
    width: 100px;
    height: 100px;
} 