html{
    scroll-behavior: smooth;
}

nav {
    font-size: 30px;
    justify-content:space-evenly
}

#navName{
    position:relative;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding-right: 2rem;
}

#navbarNav{
    position:absolute;
    right: 3rem;
}

#navName:hover{
    cursor: default;
}

a:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
}

/* SECTIONS */
section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0vh 10rem;
    box-sizing: border-box;
    min-height: fit-content;

}

/* PROFILE SECTION */

#profile{
    display: flex;
    justify-content: center;
    height: 80vh;
    gap: 5rem;
} 

.title {
    font-size: 4rem;
    text-align:center ;
    justify-content: center;
    gap: 5rem;;
} 


.section_pic-container{
    display: flex;
    height: 500px;
    width: 500px;
    margin: auto;
}

.section_text {
    align-self: center;
    text-align: center;

}

.section_text p {
    font-weight: 400;
}

.section_text1{
    text-align: center;
    font-size:1.75rem
}

.section_text2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

#social-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon{
    width: 80px;
    height: 80px;
} 

/* Buttons*/

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    transition: all 300ms ease;
    width: 8rem;
}


/* ABOUT */

#about{
    position: relative;
}

.about-containers{
    gap: 2rem;
    margin-bottom:2rem ;
    margin-top: 2rem;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;

}

.about-containers, .about-details-container {
    display: flex;
    
}

.about-pic{
    border-radius: 2rem;
}

.arrow{
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
    height: 50px;
    width: 50px;
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 1rem;
    border: rgb(53,53, 53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;

}

.section-container{
    display: flex;
    gap: 4rem;
    height: 80%;
    padding: 1rem;
}

.section_pic-container{
    height: 400px;
    width: 400px;
    margin-right: auto 0;
}

/* Experience */

#experience {
    position: relative;
  }
  
  .experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
  
  .experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
   
    #experience h3 {
    font-size: 1.3rem; 
  }

  
  .article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-around;
  }
  
  article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
  }
  
  article .icon {
    cursor: default;
  }

  /*Projects Section*/

  #projects{
    position: relative;
  }

  .color-container{
    color: rgb(163,163,163);
    background: rgb(250, 250,250);

  }

  .project-img{
    border-radius: 2rem;
    width: 60%;
    height: 60%;
  }

  .project-title{
    margin: 1rem;
    color: black;
  }

/* Contact */

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    margin-top: 25px;
}

.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    background:rgb(250, 250,250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contatct-info-container p{
    font-size: larger;
}

.contatct-icon{
    cursor: default;
    height: 2rem;
}

.contact p {
    text-decoration: none;
    color: black;
}


.nav-link-container a{
    text-decoration: none;
    color: black;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
    
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}