
.myName {
    margin: auto;
    padding: auto;
    align-items: center;
    justify-content: center;
    height: 75vh;
    display: flex;        
    font-size: 80px;
    color: black;
}

nav {
    font-size: 30px;
    justify-content: space-evenly;
}

#navName{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#navName:hover{
    cursor: default;
}

a:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
}

/* SECTIONS */

section{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50vh;
    margin: 4vh;
    box-sizing: border-box;
    min-height: fit-content;
}

#selfPic{
    width: 500px;
    height: 500px;
}

.section_pic-container{
    size: 10px;
}

.Icon{
    width: 100px;
    height: 100px;
}